/* component from uiverse.io */
.loader {
    --dim: 4rem;
    width: var(--dim);
    height: var(--dim);
    border: 8px solid #2596be;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin_51 1.5s infinite linear;
}
  
@keyframes spin_51 {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

/* link active sidebar (bg-gray-800) */
.active {
    color: rgb(31, 41, 55);
}

/* battery */
.battery {
    width: 80px;
    height: 30px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-size: 12px;
}
  
.battery-level {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    /* width: 50%; */
    background-color: #1fdf1f;
    border-radius: 3px;
    z-index: 1;
}
  
.battery-cap {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 10px solid #f5f5f5;
    z-index: 2;
}
.battery-label{
    position: absolute;
    color: black;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
}